{% extends "::layout.html.twig" %}

{% block body %}
    <div class="flash-notice"><p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p></div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock %}
