@bracket
@integration
*.unity3d
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/web/avatar/*
/web/kamon/*
/web/bundles/*
/web/css/*
/web/assetic/*
/web/js/*
/web/cache/*
/app/config/parameters.yml
install.bat
web/pack-webmaster/*
web/standalone/*
spool/*
