@bracket
@integration
*.unity3d
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/www/avatar/*
/www/bundles/*
/www/css/*
/www/assetic/*
/www/js/*
/www/cache/*
/app/config/parameters.yml