{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Guide du débutant{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}

							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Mon compte</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_captures') }}" itemprop="url">
									<span itemprop="title">Captures</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section>
				{% if captures is not empty %}
					{% for capture in captures %}
					<div class="capture pull-left">
						<a href="{{ capture.url }}" target="_blank" class="view"><img src="{{ capture.urlTmb }}"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:capture.id}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					{% endfor %}
					<br class="clear">
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_user_captures', {'page':''}),
						paginationAfter: '',
						lastPage: nombrePage
					} only %}
				{% else %}
					Pas de captures pour l'instant.
				{% endif %}
					<br class="clear">
				</section>
{% endblock %}
