{% extends '::mail.html.twig' %}

{% block content %}
                {{ email }}<br/>
                {{ texte|raw|purify('full') }}<br/>
                <a href="{{ asset_absolute('') }}" target="_blank" style="color:blue; text-decoration: none;"><span style="color:blue;">{{ asset_absolute('') }}</span></a>
{% endblock %}