{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - nous contacter{% endblock %}
{% block description %}Envoie un message à la team NinjaTooken, qui y répondra le plus vite possible !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, contact, chat, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_contact') }}" itemprop="url">
									<span itemprop="title">Nous contacter</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <div class="flash-notice">
					{{ flashMessage }}
				    </div>
				{% endfor %}
				<form action="#" method="post" accept-charset="UTF-8" class="full" id="contact">
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="email">Mail</label>
						</div>
						<div class="span8">
							<input type="email" name="email" id="email" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="sujet">Sujet</label>
						</div>
						<div class="span8">
							<input type="text" name="sujet" id="sujet" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="content">Message</label>
						</div>
						<div class="span8">
							<div class="textarea" name="content" id="content"></div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">Captcha</label>
						</div>
						<div class="span8" id="mc">
							<p>Pour pouvoir envoyer ton message, reproduis la forme ci-dessous :</p>
							<canvas id="mc-canvas">Ton navigateur ne supporte pas les &lt;canvas&gt;.</canvas>
							<input type="hidden" id="mc-action" value="{{ path('ninja_tooken_contact') }}">
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="hidden" name="_token" value="{{ csrf_token('contact' ~ app.session.id) }}">
							<input type="submit" value="Envoyer" class="button" disabled>
						</div>
					</div>
				</form>
{% endblock %}
