{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Jouer gratuitement{% endblock %}
{% block description %}Joue gratuitement à Ninja Tooken directement depuis ton navigateur grâce au plug-in Unity3D. Pas d'installation, pas de contrainte, tout est gratuit et sans engagements !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, jouer, play, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_jouer') }}" itemprop="url">
									<span itemprop="title">Jouer</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span9">
						<div id="unityPlayer">
							<div class="missing">
								<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
									<img alt="Unity Web Player. Install now!" src="{{ asset('bundles/ninjatookencommon/images/getunity.png') }}" width="193" height="63" />
								</a>
							</div>
						</div>
						<script>
						var unityLoader = "{{ asset('bundles/ninjatookengame/loader.unity3d') }}";
						var unityGame = "{{ asset('bundles/ninjatookengame/ninja-tooken-' ~ version ~ '.unity3d') }}";
						</script>
					</section>
					<aside class="span3 module">
						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}
					</aside>
				</div>
{% endblock %}
