						<section>
							<h4>{{ 'description.partenaire'|trans({}, 'common') }}</h4>
                            <ul class="partenaire">
								<li><a href="http://www.n-c-team.com/" target="_blank">Naruto Constant Team</a></li>
								<li><a href="http://www.opluffy.com/" target="_blank">One Piece Luffy</a></li>
								<li><a href="http://www.mirage-team.com/" target="_blank">Mirage Team</a></li>
								{#<li><a href="http://www.2mjeux.com/" target="_blank">Jeux gratuits</a></li>#}
								<li><a href="http://www.jeux-de-mmo.com/category/fps" target="_blank">MMOFPS</a></li>
								<li><a href="http://gaming.zone.online.fr/" target="_blank">Zone de jeux gratuit</a></li>
							</ul>
						</section>