{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - L'équipe{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_team') }}" itemprop="url">
									<span itemprop="title">L'équipe</span>
								</a>
							</span>
{% endblock %}

{% block body %}
							<div class="row-fluid">
					<section class="span8 main">
						<p>Ninja Tooken, c'est des ninjas et des shurikens, mais c'est aussi...</p>

						<h3>Infographie 3D</h3>

						<h4>Andre Doan aka Drey77</h4>
						<p>Artiste 3D en recherche d'emploi (animation, modélisation, et textures)<br>
						Mail : <a href="mailto:%61%6E%64%72%65%2E%64%6F%61%6E%40%67%6D%61%69%6C%2E%63%6F%6D">andre.doan -at- gmail.com</a><br>
						Site : <a target="_blank" href="http://www.andredoan.com/">http://www.andredoan.com/</a></p>

						<h4>Régis Roussot aka Chaukopeps</h4>
						<p>Infographiste, Animateur 3D (animation, modélisation, et textures)<br>
						Mail : <a href="mailto:%72%65%67%69%73%72%6F%75%73%73%6F%74%40%68%6F%74%6D%61%69%6C%2E%66%72">regisroussot -at- hotmail.fr</a><br>
						Site : <a target="_blank" href="http://chaukopeps.over-blog.fr/">http://chaukopeps.over-blog.fr/</a></p>

						<h4>Jonathan Persoons</h4>
						<p>Étudiant (modélisation, et textures)<br>
						Mail : <a href="mailto:%70%65%72%73%6F%6F%6E%73%6A%40%67%6D%61%69%6C%2E%63%6F%6D">persoonsj -at- gmail.com</a><br>
						Facebook : <a target="_blank" href="http://www.facebook.com/profile.php?ref=profile&amp;id=854619641">http://www.facebook.com/profile.php?ref=profile&amp;id=854619641</a></p>

						<h4>Antoine Heckmann aka MrSlher</h4>
						<p>Étudiant en animation 3D/Jeux video (modélisation, et textures)<br>
						Mail : <a href="mailto:%6E%65%67%72%6F%5F%64%6F%6E%6E%40%68%6F%74%6D%61%69%6C%2E%63%6F%6D">negro_donn -at- hotmail.com</a></p>

						<h4>Manakel</h4>
						<p>Modélisation, et textures<br>

						<h4>Yadoob</h4>
						<p>Modélisation, et textures<br>
						Blog : <a href="http://utopies.over-blog.fr/" title="http://utopies.over-blog.fr/">http://utopies.over-blog.fr/</a></p>

						<h4>Kay</h4>
						<p>Modélisation et textures</p>

						<h4>Everest</h4>
						<p>Modélisation et textures</p>

						<h3>Infographie 2D</h3>

						<h4>Eberhard</h4>
						<p>Character design, et Interface 2D</p>

						<h4>Anomen</h4>
						<p>Illustrations, textures, et Webdesign</p>

						<h3>Contenus et gestion</h3>

						<h4>Neo[F]abien-Sama</h4>
						<p></p>


						<h3>Musique et son</h3>

						<h4>Will Alexander</h4>
						<p>SoundCloud : <a href="https://soundcloud.com/willalexander" title="https://soundcloud.com/willalexander">https://soundcloud.com/willalexander</a></p>

						<h4>Crystalmir</h4>
						<p></p>

						<h3>Bêta-testing</h3>

						<h4>Yondame-Hokage</h4>
						<p></p>

						<h4>Poups229</h4>
						<p>Étudiant</p>

						<h3>Administration réseau</h3>

						<h4>G-Rom</h4>
						<p></p>
						<h4>Wanix</h4>
						<p></p>

						<h3>Animation de la communauté</h3>

						<h4>Casey</h4>
						<p>Modération site</p>

						<h4>Soxsoxsox</h4>
						<p>Modération site<br>
						Mail : <a href="mailto:%74%68%6F%6D%61%73%33%30%33%40%68%6F%74%6D%61%69%6C%2E%66%72">thomas303 -at- hotmail.fr</a><br>
						Facebook : <a target="_blank" href="http://fr-fr.facebook.com/people/Soxsoxsox-Threesox/100002183121158">http://fr-fr.facebook.com/people/Soxsoxsox-Threesox/100002183121158</a></p>

						<h4>Yondame-Hokage</h4>
						<p>Modération site<br>
						Mail : <a href="mailto:%44%79%6C%61%6E%33%32%35%30%40%68%6F%74%6D%61%69%6C%2E%63%6F%6D">Dylan3250 -at- hotmail.com</a><br>
						Facebook : <a target="_blank" href="http://fr-fr.facebook.com/people/Shinz%C3%B4-Takez%C3%B4/100002317862191">http://fr-fr.facebook.com/people/Shinz%C3%B4-Takez%C3%B4/100002317862191</a></p>

						<h4>Yusei32</h4>
						<p>Organisation évènementielle</p>

						<h4>Rydax</h4>
						<p>Modération Chat</p>

						<h3>Traduction</h3>

						<h4>Casey</h4>
						<p>Traduction - Son<br>
						Mail : <a href="mailto:%68%6F%70%65%6C%65%73%73%75%74%6F%70%69%61%6E%40%67%6D%61%69%6C%2E%63%6F%6D">hopelessutopian -at- gmail.com</a></p>

						<h4>Soxsoxsox</h4>
						<p>Modération site<br>
						Mail : <a href="mailto:%74%68%6F%6D%61%73%33%30%33%40%68%6F%74%6D%61%69%6C%2E%66%72">thomas303 -at- hotmail.fr</a><br>
						Facebook : <a target="_blank" href="http://fr-fr.facebook.com/people/Soxsoxsox-Threesox/100002183121158">http://fr-fr.facebook.com/people/Soxsoxsox-Threesox/100002183121158</a></p>

						<h3>Programmation et intégration</h3>

						<h4>2Kin</h4>
						<p></p>
						<p>Pour toutes questions, n'hésitez pas à <a href="contact.html" alt="nous contacter" title="nous contacter">nous contacter</a> !</p>
	
					</section>
					<aside class="span4">
						<form action="search.html" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="Chercher" class="span10">
							<input type="submit" name="s" value="Ok !" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': 0})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
