{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Forum{% endblock %}
{% block description %}Le forum de discussion de Ninja Tooken : échange tes découvertes, défie d'autres joueurs, organise une partie, propose tes améliorations, annonce un bug...{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, forum, discussion, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
				{% for forum in forums %}
					<h4>{% if is_granted("ROLE_USER") and (forum.canUserCreateThread or is_granted("ROLE_ADMIN")) %}<a href="{{ path('ninja_tooken_thread_ajouter', {forum_nom:forum.slug}) }}" class="button pull-right">Nouveau topic</a>{% endif %}<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}">{{ forum.nom }}</a></h4>
					{% for thread in forum.threads %}
					{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
					{% endfor %}
				{% endfor %}
				</section>
{% endblock %}
