{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Calculateur{% endblock %}
{% block description %}Le calculateur de jutsu permet de connaitre pour chaque jutsu et selon le nombre de points appliqués, les dégâts et effets.{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, calculateur, jutsu, compétence, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_calculateur') }}" itemprop="url">
									<span itemprop="title">Calculateur jutsus</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<h3>Page en construction</h3>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
