{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Mentions légales{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_parties') }}" itemprop="url">
									<span itemprop="title">Parties en cours</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="main">
					<h3>Ile (jour) #7423</h3>
					<p><i class="icon-lock"></i> Partie "Libre", version 0.99975</p>

					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>

					<br class="clear">

					<h3>Cascade #7737</h3>
					<p><i class="icon-lock"></i> Partie "Libre", version 0.99975</p>

					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>
					<div class="membre pull-left">
						<a href="utilisateur.html"><img src="images/avatar.jpg">Casey</a>
					</div>

					<br class="clear">
				</section>
{% endblock %}
